.notesList {
  overflow-y: auto;
  user-select: none;
  margin: 10px auto;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); }
  .notesList .newNote {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset; }
    .notesList .newNote img:hover {
      cursor: pointer; }
  .notesList .note {
    position: relative;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #646464; }
    .notesList .note img:hover {
      cursor: pointer; }
    .notesList .note .showDetails,
    .notesList .note .hideDetails {
      padding-left: 10px;
      width: 30px; }
    .notesList .note .showDetails img {
      height: 15px;
      width: 10px; }
    .notesList .note .hideDetails img {
      height: 10px;
      width: 20px; }
    .notesList .note span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 150px;
      padding-left: 5px;
      font-size: 15px; }
      .notesList .note span:hover {
        cursor: pointer;
        font-weight: bold;
        transition-duration: 0.3s; }
      @media screen and (max-width: 1900px) {
        .notesList .note span {
          width: 100px; } }
      @media screen and (max-width: 1600px) {
        .notesList .note span {
          width: 70px; } }
      @media screen and (max-width: 1400px) {
        .notesList .note span {
          width: 50px; } }
    .notesList .note .noteDetails span {
      font-size: 10px; }
      .notesList .note .noteDetails span:hover {
        cursor: pointer;
        font-weight: bold;
        transition-duration: 0.3s; }
    .notesList .note .current {
      font-weight: bold; }
    .notesList .note .completed {
      text-decoration: line-through;
      color: #9e9b9b; }
  .notesList input[type="text"] {
    font-size: 14px;
    margin-left: 5px;
    width: 150px;
    border-radius: 5px;
    height: 30px;
    outline: none;
    background: none; }
  .notesList .noteActions {
    margin-right: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .notesList .noteActions button {
      border: none;
      outline: none;
      background: none; }
    .notesList .noteActions .subaction img {
      width: 15px;
      height: 15px; }
    .notesList .noteActions .action img {
      width: 20px;
      height: 20px; }
    .notesList .noteActions .subaction,
    .notesList .noteActions .action {
      transition: transform 0.2s ease-in-out;
      width: 20px; }
    .notesList .noteActions .subaction img:active {
      transform: scale(0.9); }
    .notesList .noteActions .action img:active {
      transform: scale(0.9); }

.noteDetails {
  padding-left: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.55) inset;
  font-size: 15px; }
  @media screen and (max-width: 1900px) {
    .noteDetails .input[type="text"] {
      width: 140px; } }
  @media screen and (max-width: 1600px) {
    .noteDetails .input[type="text"] {
      width: 115px; } }
  @media screen and (max-width: 1400px) {
    .noteDetails .input[type="text"] {
      width: 80px; } }

.notesList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5; }

.notesList::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5; }

.notesList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #969494; }

/*# sourceMappingURL=Note.css.map */
